html,
body {
    background-color: white;
    color: black;
}

strong,b{
    font-weight: bold;
}

.pageContainer {
    background-position: center;
}

.GridLayout {
    position: relative;
    transition: height 200ms ease;
}

.GridItem {
    /*border: 1px solid;*/
    transition: all 200ms ease;
}

.GridItem .shadow {
    height: 100%;
}

.editorDiv {
    height: 100%;
    width: 100%;
}

.bgVideoActive {
    z-index: -1;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    min-width: 100%;
    /*width: 100%;
    height: auto;*/
    display: block !important;
}

.pageBgVideo {
    display: none;
}

lqd-image.card {
    padding: 5px;
}

.arSymbol
{
    font-family: rwmwws;
    display: inline-block;
}

.lockEvtClass {
    opacity: 0.5;
    pointer-events: none;
}

.unLockEvtClass {
    opacity: 1;
    pointer-events: auto;
}

 @media (max-width: 1074px) {
        .notFoundImg {
            width: 70%;
        }
    }
.appLoader,
.loader,
.cssload-wraper {
  position: absolute;
  top: 0;
  background-color: #fff !important;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999;
}


/*Loader Styles*/

.ui-row {
  display: flex;
  flex: 1;
}

.ui-row .ui-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4%;
}

.ui-row .ui-col.color {
  background: #0097E6;
  /* #2a92c4*/
}


/*** END UI TEMPLATE CODE ***/


/*** START DEMO CODE ***/

.ui-col.color .loader .path {
  stroke: #fff;
}

.ui-col.color .loader .path-outline {
  stroke: rgba(0, 0, 0, 0.2);
}

.ui-col.color .loader {
  position: relative;
  margin: 0 auto;
  width: 150px;
}

.ui-col.color .loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.ui-col.color .loader .circular {
  animation: rotate 1.33s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui-col.color .loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #FFFFFF;
}

.ui-col.color .loader .path-outline {
  stroke: rgba(0, 0, 0, 0.1);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -21px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
