<div flex="100" class="editorDiv" >
    <div class="pageContainer" id="content" style="position: relative;margin: auto;direction: ltr;">

        <!--<video class="pageBgVideo" preload="preload" id="video" autoplay="autoplay" controls="true" loop="loop"> 
        <source type="video/mp4">
    </video>-->


        <video class="pageBgVideo" preload loop autoplay width='auto' height='100%' type='video/mp4'></video>

    </div>
    <!-- <div style="width: 100%;height: 100%;" class="loader">
        <div class="whirly-loader">
            Loading 
        </div>
    </div> -->


    <div id="textInlineConfiguratorDiv" class="audioContainer globalAudioPlayer">

        <audio class="audioContainer" no-controls>
                <source class="textAudio" type="audio/mp3">
            </audio>
        <div class="charAudioContainersDiv">
        </div>
    </div>
</div>